In [2]:
import numpy as np
import pandas as pd
import warnings

In [3]:
warnings.filterwarnings("ignore")

In [4]:
df=pd.read_csv('final_dataset.csv')

In [5]:
df.head()

,team1,team2,city,date,toss_winner,first_batting,team1_player1_bat_rank,team1_player1_bowl_rank,team1_player2_bat_rank,team1_player2_bowl_rank,...,team2_player7_bowl_rank,team2_player8_bat_rank,team2_player8_bowl_rank,team2_player9_bat_rank,team2_player9_bowl_rank,team2_player10_bat_rank,team2_player10_bowl_rank,team2_player11_bat_rank,team2_player11_bowl_rank,match_winner
0,Australia,Pakistan,Melbourne Cricket Ground,3 January 1990,1,1,46,99,41,70,...,101,69,22,101,40,101,37,101,10,0
1,Australia,Sri Lanka,Melbourne Cricket Ground,4 January 1990,1,0,101,101,7,101,...,38,101,101,67,14,101,55,101,29,0
2,Pakistan,Sri Lanka,Woolloongabba,10 February 1990,1,1,66,93,101,101,...,5,87,31,101,62,101,60,101,101,0
3,Australia,Pakistan,Woolloongabba,11 February 1990,1,0,89,101,70,100,...,101,77,5,101,57,91,30,101,101,0
4,Australia,Pakistan,Sydney Cricket Ground,13 February 1990,1,0,82,101,72,101,...,2,101,101,101,59,101,101,101,94,1

In [6]:
new_df = df[['team1', 'team2', 'match_winner', 'first_batting', 'toss_winner','team1_player1_bat_rank','team1_player1_bowl_rank','team1_player2_bat_rank','team1_player2_bowl_rank']]

In [7]:
new_df.dropna(inplace=True)

In [8]:
x=new_df[['team1', 'team2', 'first_batting', 'toss_winner','team1_player1_bowl_rank','team1_player1_bat_rank','team1_player2_bat_rank','team1_player2_bowl_rank']]

In [10]:
y=new_df[['match_winner']]

In [10]:
new_df

,team1,team2,match_winner,first_batting,toss_winner,team1_player1_bat_rank,team1_player1_bowl_rank,team1_player2_bat_rank,team1_player2_bowl_rank
0,Australia,Pakistan,0,1,1,46,99,41,70
1,Australia,Sri Lanka,0,0,1,101,101,7,101
2,Pakistan,Sri Lanka,0,1,1,66,93,101,101
3,Australia,Pakistan,0,0,1,89,101,70,100
4,Australia,Pakistan,1,0,1,82,101,72,101
...,...,...,...,...,...,...,...,...,...
3176,New Zealand,Bangladesh,0,0,0,8,101,28,101
3177,New Zealand,Bangladesh,0,0,1,8,101,33,101
3178,New Zealand,Bangladesh,0,1,1,23,101,69,101
3179,New Zealand,Bangladesh,0,1,1,23,101,70,101
3180,New Zealand,Bangladesh,0,0,1,8,101,27,101

In [11]:
x

,team1,team2,first_batting,toss_winner,team1_player1_bowl_rank,team1_player1_bat_rank,team1_player2_bat_rank,team1_player2_bowl_rank
0,Australia,Pakistan,1,1,99,46,41,70
1,Australia,Sri Lanka,0,1,101,101,7,101
2,Pakistan,Sri Lanka,1,1,93,66,101,101
3,Australia,Pakistan,0,1,101,89,70,100
4,Australia,Pakistan,0,1,101,82,72,101
...,...,...,...,...,...,...,...,...
3176,New Zealand,Bangladesh,0,0,101,8,28,101
3177,New Zealand,Bangladesh,0,1,101,8,33,101
3178,New Zealand,Bangladesh,1,1,101,23,69,101
3179,New Zealand,Bangladesh,1,1,101,23,70,101
3180,New Zealand,Bangladesh,0,1,101,8,27,101

In [12]:
all_teams = {}
cnt = 0
for i in range(len(df)):
    if df.loc[i]['team1'] not in all_teams:
        all_teams[df.loc[i]['team1']] = cnt
        cnt += 1

    if df.loc[i]['team2'] not in all_teams:
        all_teams[df.loc[i]['team2']] = cnt
        cnt += 1

In [13]:
all_teams = list()
for i in range(len(df)):
    if df.loc[i]['team1'] not in all_teams:
        cnt += 1
        all_teams.append(df.loc[i]['team1'])
    if df.loc[i]['team2'] not in all_teams:
        cnt += 1
        all_teams.append(df.loc[i]['team2'])

In [14]:
all_teams

['Australia',
 'Pakistan',
 'Sri Lanka',
 'New Zealand',
 'India',
 'West Indies',
 'England',
 'Bangladesh',
 'South Africa',
 'Zimbabwe',
 'United Arab Emirates',
 'Netherlands',
 'Kenya',
 'Scotland',
 'Namibia',
 'Canada',
 'Hong Kong',
 'United States of America',
 'Asia XI',
 'ICC World XI',
 'Africa XI',
 'Bermuda',
 'Ireland',
 'Afghanistan',
 'Papua New Guinea']

In [15]:
from sklearn.preprocessing import LabelEncoder
import pickle as pkl
teams = LabelEncoder()
teams.fit(all_teams)

encoded_teams = teams.transform(all_teams)

with open('vocab.pkl', 'wb') as f:
    pkl.dump(encoded_teams, f)
with open('inv_vocab.pkl', 'wb') as f:
    pkl.dump(all_teams, f)

In [16]:
x = np.array(x)
y = np.array(y)
x[:, 0] = teams.transform(x[:, 0])
x[:, 1] = teams.transform(x[:, 1])

y[:, 0] = teams.transform(y[:, 0])

ValueError: y contains previously unseen labels: [0, 1, 2]

In [18]:
x = np.array(x, dtype='int32')
y = np.array(y, dtype='int32')
y_backup = y.copy()

y = y_backup.copy()

In [17]:
x = np.array(x, dtype='int32')
y = np.array(y, dtype='int32')
y_backup = y.copy()

y = y.ravel()

ones, zeros = 0,0
for i in range(len(x)):
    if y[i] == x[i][0] :
        if zeros <= 375:
            y[i] = 0
            zeros += 1
        else:
            y[i] = 1
            ones += 1
            t = x[i][0]
            x[i][0] = x[i][1] 
            x[i][1] = t
        
    
        
    if y[i] == x[i][1] :
        if ones <= 375:
            y[i] = 1
            ones += 1
        else:
            y[i] = 0
            zeros += 1
            t = x[i][0]
            x[i][0] = x[i][1] 
            x[i][1] = t

print(np.unique(y, return_counts=True))

(array([0, 1, 2]), array([1781, 1368,   32], dtype=int64))

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x, y, test_size=0.05)

In [19]:
from sklearn.svm import SVC
model1 = SVC().fit(x_train, y_train)
model1.score(x_test, y_test)

0.56875

In [20]:
from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier().fit(x_train, y_train)
model2.score(x_test, y_test)

0.5875

In [21]:
from sklearn.ensemble import RandomForestClassifier
model3 = RandomForestClassifier(n_estimators=250).fit(x, y)
model3.score(x_test, y_test)

0.9875

In [22]:
from sklearn.ensemble import GradientBoostingClassifier
model4=GradientBoostingClassifier(n_estimators=250).fit(x_train,y_train)
model4.score(x_test,y_test)

0.69375

In [23]:
from sklearn.linear_model import LogisticRegression
model5=LogisticRegression()
model5.fit(x_train,y_train)
model5.score(x_test, y_test)

0.5625